/**********HOMELAYOUT*****************/
@font-face {
  font-family: 'SourceCodePro';
  font-style: Regular;
  src: local('SourceCodePro'),
  
      url(/fonts/SourceCodePro-Regular.ttf),
      url(/fonts/SourceCodePro-Semibold.ttf) ;
}
:root{
  /*Background Borders*/
  --background-pink: url(../../../images/fleck-white.png), linear-gradient(45deg,#f9989f 0%,  #e2718d 50% );
  --background-blue: url(../../../images/fleck-white.png), linear-gradient(45deg, #0b032d 51%,  #113f67 100%);  
  --border-blue: 10px dotted #0C0832;
  --border-pink: 10px linear-gradient #e2718d;
  --padding-icons:30px 22px;
  --box:2px 5px 5px 2px rgba(0,0,0,0.2);
  --animation-stars: aitf 28s linear infinite;
  --border-bottom:3px solid #e2718d;
}
body{
  margin: 0;
  font-family: SourceCodePro;
  overflow-x: hidden;
  background: #10345D;
}
::-webkit-scrollbar {
  background-color: #000000;
}
::-webkit-scrollbar-thumb {
  background-color: #71E2A6;

}
::-webkit-scrollbar-track {
  background-color: #0D1841;
  border-radius: 7px;
}
.HomeLayout{
  background: url(../../../images/fleck-white.png), linear-gradient(80deg, #f9989f 0%,  #e2718d 51%, #0b032d 51.1%,  #113f67 100%);
  background-repeat: repeat, no-repeat, repeat;
  background-position: center;
  animation: var(--animation-stars);
  /* transform: translate3d(0,0,0); */
}
@keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

@media screen and (max-width: 768px)
{
  .HomeLayout{
    background: url(../../../images/fleck-white.png), linear-gradient(90deg, #f9989f 0%,  #e2718d 51%, #0b032d 51%,  #113f67 100%);
    height: auto;
  }
  .Heros{
    margin-top:20px;
  }
}
